<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gupt.mapper.LeaveRecordMapper">

    <resultMap id="BaseResultMap" type="edu.gupt.domain.po.LeaveRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="studentName" column="student_name" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,reason,
        start_time,end_time,status,
        student_id,student_name
    </sql>
</mapper>
